[Unit]
Description=Temporizador Semanal para Noticias de Software Libre de la Semana (Sábados 03:00 ART)


[Timer]
# Se ejecuta todos los sábados a las 03:00 AM (hora de Argentina = 06:00 UTC)
OnCalendar=Sat *-*-* 03:00:00 America/Argentina/Buenos_Aires
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
